<div class="productName"><%= @product.name %></div>
<a href="#" class="js-next-product" data-id="<%=@product.id%>">Next Product</a>
<h1 class="productDescription"><%= @product.inventory %></h1>
<p class="productBody"><%= @product.description %></p>

<script type="text/javascript" charset="utf-8">
$(function() {
  $(".js-next-product").on("click", function() {
    var id = $(this).data("id");
    $.get("/products/" + id + "/description", function(description) {
      $.get("/products/" + id + "/inventory", function(inventory) {
        var inventoryText = "<strong>Available</strong>";
        if(inventory === "false"){
          inventoryText = "<strong>Sold Out</strong>";
        }
        var descriptionText = "<p>" + description + "</p><p>" + inventoryText + "</p>";
        $("#product-" + id).html(descriptionText);
      });
    });
  });
});
</script>
